@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif;
}

/* Home */
.outer-container {
  background-color: #393e46;
  width: 15%;
  height: 40vh;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 15em;
  border-radius: 40px;
}

.inner-container {
  background-color: #1b262c;
  color: white;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 10px 0;
  text-align: center;
  border-radius: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  font-size: 1.2em;
  color: #393e46;
}

i {
  cursor: pointer;
}

.primary-time {
  font-size: 3em;
  font-weight: 500;
}

.secondary-time {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.date-time {
  margin-top: 30px;
  display: block;
  height: 100%;
}

.main {
  height: 80%;
  width: 100%;
  overflow: hidden;
}

/* Messages */
.messages {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.messages div {
  padding: 10px 0 10px 15px;
  cursor: pointer;
  font-size: 1.1em;
  letter-spacing: 0.8px;
}

/* Full Message */

.full-message,
.messages {
  background-color: #eeeeee;
  color: black;
  height: 100%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.full-message {
  border-radius: 30px;
  display: none;
}

.full-message p {
  padding-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

.full-message i {
  margin-left: 150px;
}

/* Music */

.music-player {
  color: black;
  height: 100%;
  width: 90%;
  color: white;
  margin-left: 15px;
}

.play-controls {
  display: flex;
}

.play-pause {
  background-image: url("images/boh.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
}

.controller {
  margin-top: 20px;
  color: white;
  transform: scale(1.5);
}

.playlist-control {
  text-align: left;
  width: 60%;
  margin-left: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  margin-right: 11px;
  background-color: #393e46;
  border-bottom: 2px solid black;
}

.playlist-control p:nth-of-type(2) {
  font-size: 0.8em;
  margin: 3px 0;
  margin-left: 6px;
}

.forward-backward {
  display: flex;
}

.playlist-control p {
  overflow: hidden;
  height: 18px;
  margin-left: 5px;
}

.progress {
  width: 100%;
  margin: 0 4px;
  height: 5px;
  margin-top: 5px;
  background: red;
  outline: none;
  border-color: transparent;
  cursor: pointer;
}

/* Music List */
.music-player {
  display: block;
}

.music-list {
  /* background-color: white; */
  height: 60%;
  background-color: #393e46;
  margin-right: 12px;
  overflow-y: scroll;
  border-radius: 0 0 10px 10px;
}

.music {
  /* background-color: red; */
  display: flex;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #1b262c;
  /* justify-content: space-between; */
  align-items: center;
  border-radius: 0 0 10px 10px;
  font-size: 0.8em;
}

.music p:nth-of-type(2) {
  text-align: left;
  margin-left: 10px;
  width: 100%;
  height: 15px;
  overflow: hidden;
  cursor: pointer;
}

.music-list::-webkit-scrollbar {
  width: 0.2em;
}

.music-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid black;
}